<% flash.each do |key, value| %>
  <% if key == "success" %>
    <div class="success">
      <%= value %>
    </div>
  <% end %>
<% end %>

<h3>Title:</h3>
<p><%= @book.title %></p>

<h3>Body:</h3>
<p><%= @book.body %></p>

<span>
  <%= link_to "Edit", edit_book_path(@book) %>
</span>

<span>
  <%= link_to "Back", "/books" %>
</span>

